corpus_naviagation/pasrl_ui/ui/static/js/bootstrap* linguist-vendored
corpus_naviagation/pasrl_ui/ui/static/js/jquery* linguist-vendored
corpus_naviagation/pasrl_ui/ui/static/js/respond* linguist-vendored
corpus_naviagation/pasrl_ui/ui/static/js/html* linguist-vendored
