# Enforce Unix newlines
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.md    text eol=lf
*.svg   text eol=lf
*.yml   text eol=lf
# Don't diff or textually merge source maps
*.map   binary

bootstrap-theme.css linguist-vendored=true
bootstrap.css linguist-vendored=true
bootstrap.js linguist-vendored=true
bootstrap-slider.js linguist-vendored=true
respond.min.js linguist-vendored=true
html5shiv.min.js linguist-vendored=true
bootstrap.min.js linguist-vendored=true
